<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
 
 <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
	 <property name="location">
	 	<value>App.properties</value>
	 </property>
 </bean>
  
	<bean id="person" class="com.spring.Person">
		<constructor-arg index="0" value="${firstName}"/>
		<constructor-arg index="1" value="Karumuri"/>
		<constructor-arg index="2">
			<bean factory-bean="datOfBirth" factory-method="parse" >
				<constructor-arg value="1987-06-18"/>
			</bean>
		
		</constructor-arg>
		
		<!-- <property name="firstName" value="Eswar" />
			 <property name="lastName"  value="Karumuri" /> -->
			
	</bean>
 
 	<bean id="datOfBirth" class="java.text.SimpleDateFormat">
 		<constructor-arg value="yyyy-MM-dd"/>
 	</bean>
 
 
 	<bean id="personBean" class="com.spring.Person">
 		<property name="personList">
			<list>
				<ref bean="person"/>
 			</list>
 		</property>
 		
 		<property name="personSet">
 			<set>
 				<ref bean="person"/>
 			</set>
 		</property>
 		
 		<property name="personMap">
 			<map>
 				<entry key="person" value-ref="person"/>
 			</map>
 		</property>
 		
 		<property name="properties">
 			<props >
				<prop key="firstName"></prop> 			
 			</props>
 		</property>
 	
 	</bean>
 
 
 
 
 	<!-- <bean id="firstName" class="java.lang.String">
 		 	<constructor-arg value="Eswar"/>
 		 </bean> -->
 
</beans>