<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
 
	<bean id="person" class="com.spring.Person">
		<constructor-arg ref="firstName"/>
		<constructor-arg index="1" value="Karumuri"/>
		
		<!-- 
			<property name="firstName" value="Eswar" />
			<property name="lastName" value="Karumuri" /> 
		-->
	</bean>
 
 	<bean id="firstName" class="java.lang.String">
 		<constructor-arg value="Eswar"/>
 	</bean>
 
</beans>