<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="person" class="org.example.Person" p:name="Nancy" p:address-ref="address">
		<property name="age" value="24"/>
		
	</bean>
	
	<bean id="address" class="org.example.Address">
		<property name="addressLine1" value="addressLine1"/>
		<property name="addressLine2" value="addressLine2"/>
		<property name="city" value="city"/>
		<property name="state" value="state"/>
		<property name="zip" value="zip"/>
	</bean>
	
	<!-- 
		p name space enables you to use the bean element's attributes instead of <property/> elements.
		-ref is to refer other bean elements.
	-->

</beans>